PORT=3000

DB_HOST=localhost
DB_PORT=1433
DB_USERNAME=sa
DB_PASSWORD=YourStrong!Passw0rd
DB_NAME=tea_leaf_management
DB_ENCRYPT=false
DB_TRUST_SERVER_CERTIFICATE=true

ADMIN_EMAIL=admin@teafactory.local
ADMIN_PASSWORD=admin123
